.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    label {
        font-weight: bold;
    }
}

.form-group-controls {
    display: flex;
    justify-content: end;

    input {
        margin: 0 .3rem;

        &:last-child {
            margin: 0;
        }
    }
}

.validation-block {
    color: darkred;
}

.required {
    color: darkred;
    &::before {
        content: '*',
    }
}

.d-none {
    display: none;
}